.post {
    display: flex;
    margin: 0px 40px;
    padding: 20px 0px;
    border-bottom: 1px solid #F5F5F5;
    gap: 20px;
}

.image {
    width: 125px;
    min-height: 186px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.locator {
    color: #F55A5A;
}

.location {
    letter-spacing: 1.741px;
}

.gmaps {
    color: #918E9B;
    padding-left: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2.5rem;
}

h4 {
    font-weight: 700;
    margin: 0;
}

.description {
    line-height: 150%;
}